<div class="container-fluid mt-1">
    <div class="row justify-content-center g-3">
        <!-- Card 1 -->
        <div class="col-12 col-md-3">
            <div class="card mt-4 h-100 d-flex flex-column">
                <img src="source/java.png" class="card-img-top img-fluid" alt="java_programacion"
                     style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Java</h5>
                    <p class="card-text">Experiencia básica en programación con el lenguaje</p>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-12 col-md-3">
            <div class="card mt-4 h-100 d-flex flex-column">
                <img src="source/csharp.png" class="card-img-top img-fluid" alt="csharp_programacion"
                     style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">CSharp</h5>
                    <p class="card-text">Experiencia básica en programación con el lenguaje</p>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-12 col-md-3">
            <div class="card mt-4 h-100 d-flex flex-column">
                <img src="source/php.png" class="card-img-top img-fluid" alt="PHP_programacion"
                     style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">PHP</h5>
                    <p class="card-text">Experiencia básica en programación con el lenguaje</p>
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="col-12 col-md-3">
            <div class="card mt-4 h-100 d-flex flex-column">
                <img src="source/html.png" class="card-img-top img-fluid" alt="html_programacion"
                     style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">HTML y CSS</h5>
                    <p class="card-text">Experiencia básica en programación con el lenguaje</p>
                </div>
            </div>
        </div>
        <!-- Card 5 -->
        <div class="col-12 col-md-3">
            <div class="card mt-4 h-100 d-flex flex-column">
                <img src="source/Bootstrap.png" class="card-img-top img-fluid" alt="bootstrap_programacion"
                     style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Bootstrap</h5>
                    <p class="card-text">Experiencia básica en programación con el lenguaje</p>
                </div>
            </div>
        </div>
        <!-- Card 6 -->
        <div class="col-12 col-md-3">
            <div class="card mt-4 h-100 d-flex flex-column">
                <img src="source/ASP .net.png" class="card-img-top img-fluid" alt="Asp.net"
                     style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">ASP .Net Core</h5>
                    <p class="card-text">Experiencia básica en programación con el lenguaje</p>
                </div>
            </div>
        </div>
    </div>
</div>