/* styles.css */

/* Reseteo de márgenes y estilos predeterminados */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Estilos generales */
body {
    background: linear-gradient(150deg,
    rgb(184, 205, 238)0%,
    rgb(84, 151, 131) 22%,
    rgba(56, 98, 120) 33%,
    rgb(115, 73, 143) 51%,
    rgb(26, 50, 90) 65%,
    rgb(15, 20, 42) 100%
    );
}

header {
    background-color: #1d1f21;
    padding: 20px 10px;  
}
.logo {   
    margin-top: -20px; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%; /* Ajusta el valor según lo que necesites */
    margin: 0 auto; /* Centra el navbar horizontalmente en la página */
    height: 25px;
    flex-wrap: wrap;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.btn-register {
    background-color: #ff6347;
    color: #ffffff;
    border: none;
    padding: 0px 30px;
    cursor: pointer;
    border-radius: 05px;
    margin-top: -20px; 
    font-size: 12px;
}

.dropdown-menu {
    background-color: #1d1f21; /* Cambia el color de fondo del dropdown */
    border: none; /* Quita el borde */
}

.dropdown-item {
    color: #ffffff; /* Cambia el color del texto */
}

.dropdown-item:hover {
    background-color: #ff6347; /* Cambia el color de fondo al pasar el mouse */
    color: #ffffff; /* Cambia el color del texto al pasar el mouse */
}
#agendaDropdown::after {
    display: none; /* Oculta la flecha */
}
/* Mostrar el menú desplegable al pasar el cursor */
.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Hace que el menú se muestre */
}

main {
    padding: 20px;
}

.about-section  {
    position: relative; /* Necesario para que el overlay se ajuste correctamente */
    height: 100vh; /* Hace que ocupe toda la altura de la ventana */
    background-image: url('images/FondoAbout.avif'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.schedule-section, .sponsors-section {
    position: relative; /* Necesario para que el overlay se ajuste correctamente */
    min-height: 100vh; /* Hace que ocupe toda la altura de la ventana */
    background-image: url('images/FondoEntrevistas.avif'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 50px 20px;
}
.about-section::before  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Ajusta el color y la transparencia */
    z-index: 1; /* Coloca el overlay detrás del contenido de la sección */
}


.schedule-section::before, .sponsors-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Ajusta el color y la transparencia */
    z-index: 1; /* Coloca el overlay detrás del contenido de la sección */
}

.about-section h1,
.about-section p {
    position: relative; /* Para que el texto esté por encima del overlay */
    z-index: 2;
}
.schedule-section {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  
  .eventos-agenda {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .evento {
    display: flex;
    align-items: center;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
  }
  
  .fecha {
    background-color: #222;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-right: 15px;
    min-width: 60px;
  }
  
  .fecha h3 {
    font-size: 24px;
    margin: 0;
  }
  
  .fecha p {
    font-size: 12px;
    margin: 0;
  }
  
  .detalles {
    flex-grow: 1;
  }
  
  .detalles h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .detalles p {
    margin: 0;
  }

  .table {
    background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco semitransparente */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);  /* Sombra para darle profundidad */
    border-radius: 8px;  /* Bordes redondeados */
}
.conferencias-section {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con ligera transparencia */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
.conferencias-section h2 {
    margin-top: -20px; /* Ajusta este valor para mover el título más arriba o más abajo */
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center; /* Centra el texto */
}

.card-deck {
    display: flex;
    justify-content: center; /* Centra las tarjetas en la sección */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en caso de que no haya espacio suficiente */
    gap: 20px; /* Espacio entre tarjetas */
}

.card {
    background-color: #f8f9fa; /* Fondo gris claro para las tarjetas */
    border: none; /* Elimina el borde predeterminado de las tarjetas */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    transition: transform 0.3s; /* Transición suave para el efecto hover */
}

.card:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.card-body {
    padding: 20px; /* Espaciado interno de las tarjetas */
}

.card-title {
    font-size: 1.5rem; /* Tamaño de fuente más grande para el título */
    font-weight: 600; /* Negrita para el título */
    color: #333; /* Color oscuro para el texto */
    margin-bottom: 10px; /* Espacio debajo del título */
}

.card-text {
    font-size: 1rem; /* Tamaño de fuente normal para el texto */
    color: #555; /* Color gris para el texto */
    margin-bottom: 5px; /* Espacio debajo del texto */
}



  
  .btn-ver-mas {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    display: block;
    width: fit-content;
  }
  
  .btn-ver-mas:hover {
    background-color: #777;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .evento {
      flex-direction: column;
      text-align: center;
    }
  
    .fecha {
      margin: 0 0 10px 0;
    }
  
    .btn-ver-mas {
      margin: 20px auto 0 auto;
    }
  }
  .schedule-section {
    position: relative;
    z-index: 1;
  }
  
  hr.section-divider {
    position: relative;
    z-index: 2;
  }
    

.schedule-section h2,
.schedule-section p {
    position: relative; /* Para que el texto esté por encima del overlay */
    z-index: 2;
}
.sponsors-section h2,
.sponsors-section p {
    position: relative; /* Para que el texto esté por encima del overlay */
    z-index: 2;
}
.carousel-inner {
    position: relative; /* Necesario para que el z-index funcione */
    z-index: 3; /* Asegúrate de que este valor sea mayor que el overlay */
}
.carouselExampleControls {
    position: relative; /* Para que el texto esté por encima del overlay */
    z-index: 3;
}

.carousel  {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.carousel.slide  {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img  {
    width: 100%;
    max-width: 200px; /*ajusta tamaño de imagen*/
    margin: 0 10px;
}

.section-divider {
    border: none;
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: #ffffff; /* Color de la línea */
    margin: 20px 0; /* Espacio alrededor de la línea */
    opacity: 0.5; /* Ajusta la transparencia si lo deseas */
}

.register-section {
    background-image: url(images/FondoFormulario2.avif);
    background-size: cover;
    background-position: center;
    padding: 50px 0; /* Agrega un poco de espacio alrededor del contenido */
    color: #ffffff; /* Asegura que el texto sea legible sobre el fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);        
    background-attachment: fixed; /* Mantiene la imagen fija */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
}

.register-section label,
.register-section input,
.register-section select,
.register-section button {
    font-size: 12px; /* Ajusta este valor según el tamaño deseado */
}
.form-control {
    font-size: 12px; /* Ajusta este valor según el tamaño deseado */
}

.register-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}


.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    background-color: #ff6347;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.btn-primary:hover {
    background-color: #e55335;
}


.subscruption-container {  
    background-image: url(images/BannerNerdearla.png);
    /*max-width: 500px;*/
    margin: 20px auto;
    padding: 20px;    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    /*background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.subscruption-container h2  {
    color:rgb(255, 255, 255) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subscruption-container p  {
    color:rgb(214, 209, 185) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subscription-container input[type="email"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 0 auto 10px;    
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: linear-gradient(150deg,
    rgb(114, 157, 228)0%,
    rgb(85, 120, 176) 16%,
    rgba(56, 98, 120) 33%,
    rgb(46, 56, 97) 51%,
    rgb(26, 50, 90) 65%,
    rgb(15, 20, 42) 100%);
    border-radius: 4px;
    font-size: 12px;
}
.subscription-container input[type="email"]::placeholder {
    font-size: 10px; /* Ajusta el tamaño de la fuente a un valor más pequeño */
    color: #888; /* Opcional: cambia el color para que sea más claro */
}

.btn-primary {
    background-color: rgb(52, 109, 41); /* Color inicial del botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave del color */
}
.btn-primary:hover {
    background-color: rgb(124, 39, 39); /* Color del botón al pasar el ratón por encima */
}
footer {
    background-color: #1d1f21;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
footer p {
    margin: 0; /* Elimina márgenes extra alrededor del texto */
}

