  <!--    Sobre mí    -->

<div class="row align-items-center">
    <div class="col-md text-center text-bg-dark">
        <h1>Presentación</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>Estudiante</h2>
        <p>Soy un estudiante del Instituto Formación Profesional Nº 11, ubicado en Capital Federal </p>
    </div>
</div>
<div/>
