main {
    margin-bottom: 20px;    /* Ajusta el margen desde el home hacia sobre mí */
}

.nav-tabs .nav-link {
    color: white;    /* Color blanco para los enlaces no activos */
}

.nav-tabs .nav-link.active {
    color: black;    /* Texto Negro cuando esta activo */
}